@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


section{
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

form{
    display: flex;
    flex-direction: column; 
    border: 1px solid black;
    border-radius: 25px;
    padding: 15px;
}

input{
    margin: 5px;
}

input[type="submit"]{
    margin-top: 15px;
    background-color: transparent;
    border-radius: 15px;
    border-color: darkgrey;
}

input[type="submit"]:hover{
    background-color: darkorange;
    cursor: pointer;
    
}

@media screen and (max-width:550px) {
    form{
        width: 100%;
        border: none;
    }
}
